---
layout: layout
---

<font size=+2><b>{{ page.title }}</b></font>
<br>
//<font size=-1><i>Posted on <a href="{{ page.url }}" title="Permalink for this post">{{ page.date | date_to_string }}</a> by <a href="http://identi.ca/jrobb">jrobb</a></i></font>//
<P>

<div class="content">
  <div id="post">

    {{ content }}
  </div>
</div>

{% if previous %}
<a href="{{ previous.url }}" title="Previous post">previous</a>
{% endif %}

{% if next %}
{% if previous %}, {% endif %}<a href="{{ next.url }}" title="Next post">next</a>
{% endif %}
